<header class="masthead">
  <div class="container">
    <a href="/">
      <img class="masthead-logo" src="/public/leia-icon.png">
      <div class="masthead-block masthead-title">
          <div>
              <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          </div>
          <div>
              <small>{{ site.tagline }}</small>
          </div>
      </div>
    </a>
    <div class="masthead-block masthead-pages">
          {% for page in site.pages_list %}
              <a href="{{ page[1]  }}">{{ page[0] }}</a>
          {% endfor %}
    </div>
  </div>
</header>
