---
layout: default
---

<article class="container">
    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=384085541705339";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Facebook end-->
    <header>
        <hgroup>
            <h1>{{ page.title}}</h1>
        </hgroup>
        <time datetime="{{ page.date | date: '%Y-%m-%d' }}"><i class="icon-calendar-empty"></i>{{ page.date | date: "%A, %-d. %B %Y" }}</time>
    </header>
    {{ content | replace: '-&gt;', '<i class="icon-long-arrow-right"></i>' | replace: '&lt;-', '<i class="icon-long-arrow-left"></i>' | replace: '&gt;', '<i class="icon-angle-right"></i>' | replace: '&lt;', '<i class="icon-angle-left"></i>' | replace: '^2', '&sup2;' }}
    <footer>
        <ul class="tags">
            {% for tag in page.tags %}
            <li class="tag">{{ tag }}</li>
            {% endfor %}
        </ul>
    </footer>
    <!-- Twitter -->
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="marianafranco">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <!-- Google + -->
    <g:plusone size="medium"></g:plusone>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <!-- Facebook -->
    <div class="fb-like" data-href="{{ post.url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" style="border:none; overflow:hidden;"></div>
</article>
